extends layout

block content
    .container-fluid(ng-controller="rollingController")
        h3 Job Work (Rolling Mill Out)
        form(ng-submit="submitRollingData()")
            .row
                .col-sm-12

                    h6.my-2 Choose Rolling Mill :
                    
                    label.mx-2
                        input.hidden(type="radio", name="rolling_mill" required ng-model="rolling.party" value="NGI")
                        div.rounded.bg-light.p-3.text-dark.border.border-primary.px-5.shadow NGI

                    label.mx-2
                        input.hidden(type="radio", name="rolling_mill" required ng-model="rolling.party" value="Raghu")
                        div.rounded.bg-light.p-3.text-dark.border.border-primary.px-5.shadow Raghu

                    label.mx-2
                        input.hidden(type="radio", name="rolling_mill" required ng-model="rolling.party" value="Kisco")
                        div.rounded.bg-light.p-3.text-dark.border.border-primary.px-5.shadow Kisco

            .row    
                .col-sm-4.mt-3
                    .form-group
                        label Challan No.
                        input.form-control(type="text", name="" required ng-model="rolling.challan_no")
                
            .row()
                .col-sm-8
                    div(ng-repeat="rolling in rollingData")
                        .row
                            
                            .col-sm-2.mt-3
                                .form-group
                                    label Shape
                                    //- input.form-control(type="text", name="" ng-model="orderDate.mkt")
                                    select.custom-select(ng-model="rolling.shape" required)
                                        option(value disabled selected)
                                        option( ng-repeat="product in products" ng-value="product.name") {{product.name}}                    
                            .col-sm-2.mt-3
                                .form-group
                                    label Input Size
                                    
                                    select.custom-select(ng-model="rolling.input_size" required)
                                        option(value disabled selected)
                                        option(ng-repeat="ingotSize in ingot_input_size" ng-value="ingotSize.size" ng-bind="ingotSize.size")
                            .col-sm-1.mt-3
                                .form-group.d-inline-block
                                    label Ingot Count
                                    input.form-control.d-inline(type="text", name="" required ng-model="rolling.ingot_pcs")
                                
                
                            
                            .col-sm-1.mt-3
                                .form-group
                                    label Ingot Pcs
                                    input.form-control(type="text", name="" required ng-model="rolling.no_ingot_pcs")

                            .col-sm-2.mt-3
                                .form-group
                                    label Output Size
                                    input.form-control.border.border-danger(type="text", name="" readonly value="No Size Found!" ng-show="!sizes[$parent.rolling.party][rollingData[$index].shape][rollingData[$index].input_size]")
                                    select.custom-select(ng-model="rolling.output_size" ng-show="sizes[$parent.rolling.party][rollingData[$index].shape][rollingData[$index].input_size]" required) 
                                        option(value disabled selected)
                                        option(ng-repeat="ingotSize in sizes[$parent.rolling.party][rollingData[$index].shape][rollingData[$index].input_size]" ng-value="ingotSize" ng-bind="ingotSize" )

                            .col-sm-2.mt-3
                                .form-group
                                    label Heat No.
                                    input.form-control(type="text", name="" required ng-model="rolling.heat_no")

                            .col-sm-2.mt-3
                                .form-group
                                    label Pieces
                                    input.form-control(type="text", name="" required ng-model="rolling.pieces")
                            .col-sm-2.mt-3
                                .form-group
                                    label Weight
                                    input.form-control(type="text", name="" required ng-model="rolling.weight")
                    
                .col-sm-2.mt-3
                    .pt-2.sticky-top
                        button.btn.btn-secondary(type="button" ng-click="addMoreSize()") Add sizes on same challan

                .col-sm-12.my-3
                    button.btn.btn-primary(type="submit") Submit

block footJs
    script(src="/javascripts/controller/rollingController.js")
    style.
        label>input:checked + div{
            background:#007bff!important;
            color:#fff!important;
            
        }
        .hidden{
            display:none;
        }